<div class="ui card">

    {% assign foundImage = 0 %}
    {% assign images = post.content | split:"<img" %}
    {% for image in images %}
        {% if image contains 'src' %}
            {% if foundImage == 0 %}
                {% assign html = image | split:">" | first %}
                <div class="image">
                    <img {{ html }} />
                </div> 
                {% assign foundImage = 1 %}
                {% break %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="content">
        <a class="header" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | truncatewords: 15 }}</a>
        <div class="description">
            {{ post.content | truncatewords: 300 }}
        </div>
    </div>
    <div class="extra content">
    </div>
</div>
