<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="left menu">Wall-E &copy; 2017</p>
            <p class="right menu">
            <a href="https://github.com/skycrossman/bayrationality">Page Github</a>
            </p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>
