---
layout: default
---

<!-- one, two and then four card rows -->
<div class="ui centered grid stackable">
    {% assign counter = 0 %}
    {% for page in site.pages %}
        {% assign counter = counter | plus: 1 %}
        {% if counter == 1 %}
            <div class="eight wide column">
                {% include page_card.html %}
            </div>
        {% elsif counter == 2 %}
            <div class="eight wide column">
                {% include page_card.html %}
            </div>
        {% else %}
            <div class="four wide column">
                {% include page_card.html %}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="ui divider"></div>
